.app-header .navbar-brand {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    width: 155px !important;
    height: 55px !important;
    padding: 0 !important;
    margin-right: 0 !important;
    background-color: transparent !important;
}